body{
    margin: 0;
    background-color: black;
}

nav{
    margin: 0 auto;
    height: 100px;
    width: 75%;
    background-color: rgb(30, 200, 230);
    border: 5px solid black;
}

form{
    display: flex;
    flex-direction: column;
}

.main{
    margin: 0 auto;
    border: 5px solid rgb(30, 200, 230);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 100px
}

h1, h2, p{
    color:rgb(30, 200, 230);
    text-decoration: none;
}

input{
    margin: 10px;
    padding: 10px;
}

button{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(30, 200, 230);
}